# Replace all of the following if necessary, XXXXX, PASSWORD...
# Rename to .env
RPC_USERNAME="XXXXXX"
RPC_PASSWORD="23409834890234"
RPC_HOST="127.0.0.1"
RPC_PORT=8332

DB_HOST="127.0.0.1"
DB_NAME="some_database_name"
DB_PORT=5432
DB_USERNAME="XXXXX"
DB_PASSWORD="YYYYYY"

# Listening port for the endpoint
LISTEN_PORT=5000
