# Replace all of the following if necessary, XXXXX, PASSWORD...
# Rename to .env
rpcUsername="XXXXX"
rpcPassword="PASSWORD"
rpcHost="127.0.0.1"
rpcPort=8332

dbHost="127.0.0.1"
dbName="bitcoinHashes" # database name
dbPort=5432
dbUsername="postgres" # username
dbPassword="1234" # password
